@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #136568;
    --primary-color-darker: #0a305a;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #136568, #0a305a);
    font-family: 'Open Sans';
    font-size: 1em;
    line-height: 2.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    max-width: 440px;
    padding: 25px;
    background: #feffff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.calculadora {
    width: 400px;
    margin-left: auto;
}
.display {
    width: 100%;
    height: 55px;
    font-size: 2.2em;
    text-align: right;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    font-family: monospace;

}
.btn {
    width: 100%;
    height: 45px;
    font-size: 1.1em;
    border: none;
    border-radius: 8px;
    transition: background 0.2s, transform 0.1s;
    background: #dfdfdf;
    cursor: pointer;
}
.btn:hover {
   background: #dfdfdf5f;
}
.btn:active {
    transform: scale(0.96);
}

.container h1 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: var(--primary-color);
    letter-spacing: 2px;
}

.btn-eq {
    background: var(--primary-color);
    color: white;
}

.btn-eq:hover {
    background: var(--primary-color-darker);
}

.btn-clear {
    background: #ff6b6b;
    color: white;
}

.btn-del {
    background: #ffa94d;
    color: white;
}
