@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #136568;
    --primary-color-darker: #0a305a;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open Sans';
    font-size: 1em;
    line-height: 2.3em;
}

.container {
    max-width: 660px;
    margin: 60px auto;
    padding: 20px;
    background: #feffff;
    border-radius: 10px;
}

.relogio {
    font-size: 3em;
}
